@import "normalize.min.scss";

html
{
    background: #E5E5E5;    
}
body
{
    min-width: 320px;    
    background: #fff; 
    font: 16px/1.4 Georgia, serif;       
    margin: 0 auto;    
}
a
{
    color: inherit;
    text-decoration: none;   
}
address
{
    font-style: normal;
}
button
{
    background: transparent;
    padding: 0;
    border: none;
}
h1, h2, h3, h4, h5, h6
{
    margin: 0;
}
hr
{
    margin: 0;
}
p
{
    margin: 0;
}
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
