@import "_general.scss";

.content
{
    box-sizing: border-box;
    min-width: 1000px;
    padding: 15px;

    @at-root
    {
        .title
        {
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .02em;
            color: rgb(0, 102, 204);            
            margin-bottom: 20px;
        }
        .gallery
        {
            display: grid;
            grid-template-columns: repeat(auto-fill, 32%);
            grid-auto-rows: minmax(233px, 380px);
            justify-content: center;
            gap: 12px;            
        }
        .card
        {        
            display: block;    
            position: relative;
            line-height: 0;            
            overflow: hidden;

            &:hover
            {
                .card__img
                {
                    transform: scale(1.2);
                }
                .card__overlay
                {
                    opacity: 1;
                }
            }
        }
        .card__img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 2s;
        }
        .card__overlay
        {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0; 
            line-height: 1.4;
            opacity: 0;          
            background: rgba(#000, .7);
            color: #fff;
            padding: 10px;           
            transition: opacity .3s;
        }
        .card__title
        {
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .1em;            
            color: #6db4f9;                      
            margin-bottom: 10px;
        }
        .card__description
        {
            font-size: 20px;
        }
    }
}
.explosion
{
    display: none;
    min-width: 1023px;
    min-height: 600px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;     
    background: #fff;
    opacity: 0;

    &_opening
    {
        display: block;
        transition: none;        
    }
    &_opened
    {
        display: block;       
        
        .explosion-actions
        {
           
           margin-top: 0;
        }
        .explosion-description
        {
            width: 960px;            
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    &_closing
    {
        display: block;
    }

    @at-root
    {        
        .explosion__img
        {
            position: absolute;            
            object-fit: cover;
            transition: all .7s;
        }
        .explosion__close
        {            
            cursor: pointer;         

            img
            {
                width: 50px;
                height: 50px;
            }
        }
        .explosion-actions
        {
            display: flex;
            height: 350px;
            min-width: 60px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;           
            right: 24%;
            z-index: 3;
            margin-top: -700px;
            transition: margin-top .7s;
        }
        .explosion-nav
        {
            display: flex;
            min-width: 60px;
            flex-direction: column;
            align-items: center;
            
        }
        .explosion__btn
        {
            width: 50px;
            height: 50px;
            opacity: 1;
            background-color: transparent;            
            background-repeat: no-repeat;
            line-height: 0;
            cursor: pointer;
            border: 3px solid #000;
            border-radius: 50%;
            transition: all .3s;

            &:disabled
            {
                pointer-events: none;
                opacity: .3;
            }

            &_up
            {
                background-image: url("../img/icons/arrow-up.svg");

                &:hover
                {
                    background-color: #000;
                    background-image: url("../img/icons/arrow-up-white.svg");
                                   
                }
            }
            &_down
            {
                background-image: url("../img/icons/arrow-down.svg");

                &:hover
                {
                    background-color: #000;
                    background-image: url("../img/icons/arrow-down-white.svg");                                  
                }
            }           
           
        }
        .explosion__counter
        {
            text-align: center;
            font-size: 24px;
            margin: 20px 0;
        }
        .explosion-description
        {
            box-sizing: border-box;
            width: 0%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 3;
            overflow: hidden;
            white-space: nowrap;
            background: #51346c;
            padding: 20px 0;  
            transition: width .7s, padding-left .7s, padding-right .7s;          
        }
        .explosion-description-wrapper
        {
            opacity: 1;

            transition: opacity .25s;
        }
        .explosion__title
        {
            font-size: 42px;
            text-transform: uppercase;
            letter-spacing: .02em;            
            color: lightgoldenrodyellow;
        }
        .explosion__text
        {
            font-size: 24px;
            color: #c5fffc;
        }
       
    }
}